body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
}

h1 strong{
  color: #48a0dc;
}

h2{
  color: #ed7161;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero{
  height: 300px;
  background-color: #1b2127;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.hero-image{
  object-fit: cover;
}

.portfolio{
  background: #353434;
  padding: 20px;
}

.project {
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Roboto', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}


.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img{
  max-width: 100%;
}

.header {
  background-color: #1b2127;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a{
  color: white;
  text-decoration: none;
}

.menu{
  height: inherit;
}

.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

.header a{
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;
  flex-shrink: 0;
}

.footer{
  color: white;
  background-color: #1b2127;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list{
  display: flex;
  flex-wrap: wrap;
}

.event-list-title{
  margin-left: 20px;
}

.event{ 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img{
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description{
  text-align: left;
}

.event-url{
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact{
  background-color: #2378b3;
  color: white;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.social{

}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 7px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-email h3 { 
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* Desktop First : Empezar desde el MQ más grande */

@media screen and (max-width: 1024px){
  .container{
    padding: 0 1em;
  }

  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  h1{
    font-size: 1.9em;
    z-index: 2;
    /* margin-left: 1.5em; */
    margin-left: 6.4em;
    background: aliceblue;
  }

}

@media screen and (max-width: 767px){
  .header{
    display: block;
    height: auto;
  }

  .header ol{
    display: block;
  }

  .header ol li{
    height: 50px;
  }

  .header a{
    justify-content: center;
  }

  .header .logo{
    text-align: center;
  }

  .project{
    display: block;
  }

  .project-imageContainer{
    width: auto;
    text-align: center;
  }

  .project-details{
    width: auto;
  }

  .project-course, .project-date, .project-url{
    margin: .4em 0;
  }

  .project-title{
    font-size: 1.5em;
    margin-bottom: .5em;
  }

  .project-url{
    font-size: 1em;
  }

  .project-course{
    font-size: 1.1em;
  }

  .project-date{
    font-size: 1em;
  }

  .project-description{
    font-size: .8em;
  }

  .event{
    width: auto;
    flex-shrink: initial;
  }

  .event img{
    width: 100%;
  }
}

@media screen and (max-width: 609px){
  h1{
    margin-left: 4em;
  }
}

@media screen and (max-width: 373px){
  h1{
    margin-left: 2.5em;
  }
}

@media screen and (max-width: 345px){
  h1{
    margin-left: 1.8em;
  }
}

@media screen and (max-width: 331px){
  h1{
    margin-left: 1em;
    font-size: .5em;
  }
}

@media screen and (max-width: 422px){
  h1{
    /* margin-left: 3.7em; */
    /* font-size: .5em; */
  }
}


@media screen and (max-width: 541px){
  h1{
    font-size: 1.2em;
    margin-left: 1.5em;
  }

  .project-details{
    font-size: 12px;
  }

  .event-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .form-email button{
    margin: 1em auto;
  }

  .form-email h3{
    margin-top: 0;
  }

  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 323px){
  .social-link{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-size: 40px 40px;
  }

  h1{
    font-size: 1em;
    margin-left: 0.9em;
    margin-left: 1.4em;
    background: aliceblue;
  }

  .hero{
    padding: 2em 1em;
  }
}